<div class="gen-rapport-inner" data-offre-id="{offre_id}">
  {style_css}
  <div class="gen-rapport-partie-spin">
    {rapport_spin}
  </div>
  <div class="gen-rapport-partie-info">
    <div class="gen-ri-fournisseur">{fournisseur}</div>
    <div class="gen-ri-validite">{date_validite}</div>
    <div class="gen-ri-rapports">
      <div class="gen-ri-rapport" data-rapport-index="0">{rapport_section}</div>
      <div class="gen-ri-rapport" data-rapport-index="1">{rapport_section}</div>
      <div class="gen-ri-rapport" data-rapport-index="2">{rapport_section}</div>
      <div class="gen-ri-rapport" data-rapport-index="3">{rapport_section}</div>
      <div class="gen-ri-rapport" data-rapport-index="4">{rapport_section}</div>
      <div class="gen-ri-rapport" data-rapport-index="5">{rapport_section}</div>
    </div>
  </div>
</div>
